.App {
  text-align: center;
  height: "100%";
  width: "100%";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_mobile {
  margin: 0;
  background: -webkit-linear-gradient(#ebef1f, #4dfe0f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title_desktop {
  margin: 0;
  padding-left: 0.5rem;
  background: -webkit-linear-gradient(#ebef1f, #4dfe0f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.MuiDrawer-paper {
  width: 50% !important;
  }

.AppContent{
  display: flex;
  flex-direction: column;
  width: 90%;
  align-self: center;
  margin-top: 4rem;
}