.App {
  text-align: center;
  height: "100%";
  width: "100%";
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0;
  background: -webkit-linear-gradient(#ebef1f, #4dfe0f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.MuiDrawer-paper {
  width: 50% !important;
  }