.App {
  text-align: center;
  height: "100%";
  width: "100%";
}

nav {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Baloo Bhaina 2", cursive;
  width: "100%";
  background: rgba(255, 255, 255, 0.26);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
}

.title {
  margin: 0;
  background: -webkit-linear-gradient(#ebef1f, #4dfe0f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.MuiDrawer-paper {
  width: 50% !important;
  }