.login_container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.manage{
    color:#63BB44;
}