@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");


.star-icon{
  color:#ffdb00;
}
/*Desktop*/
@media only screen and (min-width: 910px){
  .iframe_recipe {
    margin-top: 5rem !important;
    height: 38rem !important;
    width: 80%;
  }

  

  .about{
    display: grid;
    grid-template-columns: 20% 30% 40% 5%;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 0;
    justify-items: center;
  }
  .infos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .prepare_time{
    font-size: 1.4rem;
    font-weight: 400;
  }

  .infos, .header, .secondary_info{
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }

  .header{
    opacity: 0.5;
  }

  .icon,.icon2{
    height: 1.4rem;
    margin-bottom: 0.5rem;
    opacity: 0.5;
  }

  .icon2{
    margin-bottom: 0;
  }


  .secondary_info{
    margin-top: 0;
    margin-bottom: 0;
  }

  .unordered-list-recipe{
    padding-left: 8rem;
    text-align: start;
  }

  .recipe_name{
    font-size: 2.3rem;
    font-weight: 500;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.3);
    
  }

  .submited_on{
    color:rgba(0, 0, 0, 0.4);
    font-weight: 500;
  }

  .about2{
    display: flex;
    width: 90%;
    justify-content: space-between;
  }
}

/*Mobile*/
@media only screen and (max-width: 909px){
.iframe_recipe {
  margin-top: 3.6rem;
}
.about{
    display: grid;
    grid-template-columns: 1% 20% 14% 25% 15% 15%;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
}

.about2{
    display: grid;
    grid-template-columns:32% 12%;
    align-items: center;
    width: 100%;
    margin-top: 0;
}

.header2,.header,.recipe_submited_by {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.header2{
    margin-top: 0;
}

.recipe_name {
  font-weight: 400;
  font-size: 22px;
  opacity: 0.8;
  border-bottom: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.3);
  border-bottom-style: solid;
  width: 100%;
  margin: 0;
}

.infos {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  margin-top: 1.2rem;
}

.icon {
  opacity: 0.2;
  margin-right: 0.1rem;
}


.list-item-recipe {
  text-align: start;
  margin-top: 0;
}

.ordered-list-item-recipe {
    text-align: start;
    margin-top: 2rem;
  }

.unordered-list-recipe {
  margin-top: 1rem;
}
}