.categories-section {
  overflow: scroll;
  display: flex;
  width: 80%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.categories-card {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
  border-radius: 0.5rem;
  min-width: 10rem !important;
  color:white;
}

.teste{
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-button{
    height: 100% !important;
    border-radius: 0 !important;
}

a{
    color:black;
    opacity: 0.1;
}