nav {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Baloo Bhaina 2", cursive;
    width: "100%";
    background: rgba(255, 255, 255, 0.26);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
  }