.nav_mobile {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Baloo Bhaina 2", cursive;
  width: "100%";
  background: rgba(255, 255, 255, 0.26);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  position: fixed;
  z-index: 2;
  width: 100%;
}

.nav_desktop {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Baloo Bhaina 2", cursive;
  font-size: 1.6rem;
  width: "100%";
  background: rgba(255, 255, 255, 0.26);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 5rem;
}

.crud_logo {
  margin-left: 2rem;
  transition: 1s;
}

.crud_logo_desktop {
  margin-bottom: 1rem;
  margin-left: 2rem;
  transition: 1s;
}

.crud_logo_desktop:hover,
.crud_logo:hover {
  transform: rotate(60deg);
  transition: 1s;
}

.crud_div {
  display: flex;
  align-items: center;
  opacity: 1;
  text-decoration: none;
}

.NavLink {
  color: #63bb44;
  opacity: 1;
  text-decoration: none;
  transition: 100ms;
}

.LoginButton {
  opacity: 1;
  margin-right: 1rem;
  text-decoration: none;
  transition: 100ms;
}

.LoginButton:hover {
  transform: scale(1.3);
  transition: 100ms;
}

.NavLink:hover {
  transform: scale(1.1);
  transition: 100ms;
}

@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600");
